drone_news_automation.json
{
  "name": "AI Agent - Drone News Auto-Posting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
      "name": "Daily Trigger (9 AM IST)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=latest+drone+news+OR+UAV+technology+OR+DGCA+drones+India&hl=en-IN&gl=IN&ceid=IN:en",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-4b5c-9d0e-1f2a3b4c5d6e",
      "name": "Fetch Google News RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "xmlToJson",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c5d-0e1f-2a3b4c5d6e7f",
      "name": "Parse RSS XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel[0].item",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-4d5e-1f2a-3b4c5d6e7f8a",
      "name": "Split into Articles",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "e5f6a7b8-c9d0-4e5f-2a3b-4c5d6e7f8a9b",
      "name": "Limit to Top 5",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4",
              "name": "title",
              "value": "={{ $json.title[0] }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5",
              "name": "link",
              "value": "={{ $json.link[0] }}",
              "type": "string"
            },
            {
              "id": "c3d4e5f6",
              "name": "pubDate",
              "value": "={{ $json.pubDate[0] }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7",
              "name": "description",
              "value": "={{ $json.description ? $json.description[0] : 'No description available' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Extract Article Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "resource": "text",
        "operation": "message",
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a drone industry expert and content summarizer.\n\nSummarize this article in 2-3 concise, engaging paragraphs. Extract 5-7 relevant hashtags and identify 3-5 key trending keywords.\n\nTitle: {{ $json.title }}\nDescription: {{ $json.description }}\nLink: {{ $json.link }}\n\nProvide output in this EXACT format:\n\nSUMMARY:\n[Write 2-3 engaging paragraphs about the drone news]\n\nHASHTAGS:\n#Hashtag1, #Hashtag2, #Hashtag3, #Hashtag4, #Hashtag5\n\nKEYWORDS:\nkeyword1, keyword2, keyword3, keyword4"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 600
        }
      },
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "AI Summarization (GPT-4)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "resource": "text",
        "operation": "message",
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a social media expert specializing in LinkedIn content for the drone and UAV industry.\n\nCreate an engaging LinkedIn post from this information:\n\n{{ $json.choices[0].message.content }}\n\nOriginal Article: {{ $('Extract Article Data').item.json.title }}\nLink: {{ $('Extract Article Data').item.json.link }}\n\nFormat Requirements:\n1. Start with a catchy hook (question or bold statement)\n2. Write 1-2 lines summarizing key points\n3. Add relevant emojis (2-3 maximum)\n4. Include the hashtags provided above\n5. End with call-to-action like \"Read more:\" and the article link\n6. Keep total length under 1300 characters\n7. Make it professional yet engaging for LinkedIn audience\n\nDo NOT use quote marks around the post. Write it ready to publish."
            }
          ]
        },
        "options": {
          "temperature": 0.8,
          "maxTokens": 500
        }
      },
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
      "name": "Format Social Media Post",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.unsplash.com/search/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "drone aerial technology"
            },
            {
              "name": "per_page",
              "value": "1"
            },
            {
              "name": "orientation",
              "value": "landscape"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Get Relevant Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "YOUR_UNSPLASH_CREDENTIAL_ID",
          "name": "Unsplash API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.results[0].urls.regular }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "resource": "post",
        "text": "={{ $('Format Social Media Post').item.json.choices[0].message.content }}",
        "shareMediaCategory": "NONE"
      },
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2440,
        200
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "YOUR_LINKEDIN_CREDENTIAL_ID",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Article_Title": "={{ $('Extract Article Data').item.json.title }}",
            "Article_Link": "={{ $('Extract Article Data').item.json.link }}",
            "LinkedIn_Status": "={{ $('Post to LinkedIn').item.json.id ? 'Posted Successfully' : 'Failed' }}",
            "LinkedIn_Post_ID": "={{ $('Post to LinkedIn').item.json.id }}",
            "Summary": "={{ $('AI Summarization (GPT-4)').item.json.choices[0].message.content.split('SUMMARY:')[1].split('HASHTAGS:')[0].trim().substring(0, 500) }}"
          }
        },
        "options": {}
      },
      "id": "f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2660,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "hr@ipageums.com",
        "subject": "=Daily Drone News Posted - {{ $now.format('MMMM dd, yyyy') }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n.container { max-width: 600px; margin: 0 auto; padding: 20px; }\n.header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n.content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n.status { display: inline-block; padding: 5px 15px; border-radius: 20px; font-weight: bold; margin: 5px; }\n.success { background: #4caf50; color: white; }\n.failed { background: #f44336; color: white; }\n.article-box { background: white; padding: 20px; margin: 20px 0; border-left: 4px solid #667eea; border-radius: 5px; }\n.footer { text-align: center; color: #999; padding: 20px; font-size: 12px; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n<div class=\"header\">\n<h1>🚁 Daily Drone News Report</h1>\n<p>AI Agent Automation Summary</p>\n</div>\n<div class=\"content\">\n<p><strong>📅 Date:</strong> {{ $now.format('MMMM dd, yyyy') }}</p>\n<p><strong>⏰ Time:</strong> {{ $now.format('HH:mm:ss') }} IST</p>\n<p><strong>📰 Articles Processed:</strong> 5</p>\n\n<h3>📊 Posting Status:</h3>\n<div>\n<span class=\"status {{ $('Post to LinkedIn').item.json.id ? 'success' : 'failed' }}\">\nLinkedIn: {{ $('Post to LinkedIn').item.json.id ? '✅ Success' : '❌ Failed' }}\n</span>\n</div>\n\n<div class=\"article-box\">\n<h3>📌 Latest Article Posted:</h3>\n<h4>{{ $('Extract Article Data').item.json.title }}</h4>\n<p>{{ $('AI Summarization (GPT-4)').item.json.choices[0].message.content.split('SUMMARY:')[1].split('HASHTAGS:')[0].trim().substring(0, 300) }}...</p>\n<p><strong>🔗 Source:</strong> <a href=\"{{ $('Extract Article Data').item.json.link }}\">Read Full Article</a></p>\n<p><strong>📅 Published:</strong> {{ $('Extract Article Data').item.json.pubDate }}</p>\n</div>\n\n<div class=\"article-box\">\n<h3>💬 LinkedIn Post Preview:</h3>\n<p style=\"font-style: italic; color: #555;\">{{ $('Format Social Media Post').item.json.choices[0].message.content.substring(0, 400) }}...</p>\n</div>\n\n</div>\n<div class=\"footer\">\n<p>🤖 This is an automated report from your AI Agent workflow</p>\n<p>Powered by n8n + OpenAI GPT-4</p>\n<p>IPAGE UM Services Pvt Ltd - AI Automation</p>\n</div>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d",
      "name": "Send Summary Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2880,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger (9 AM IST)": {
      "main": [
        [
          {
            "node": "Fetch Google News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google News RSS": {
      "main": [
        [
          {
            "node": "Parse RSS XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS XML": {
      "main": [
        [
          {
            "node": "Split into Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into Articles": {
      "main": [
        [
          {
            "node": "Limit to Top 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to Top 5": {
      "main": [
        [
          {
            "node": "Extract Article Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Data": {
      "main": [
        [
          {
            "node": "AI Summarization (GPT-4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarization (GPT-4)": {
      "main": [
        [
          {
            "node": "Format Social Media Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Social Media Post": {
      "main": [
        [
          {
            "node": "Get Relevant Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Relevant Image": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Summary Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-28T00:00:00.000Z",
  "versionId": "1"
}